/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Asterisk Wildcard selector to override my default syles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    background-color: #0f0f0f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* navigation system */

nav ul {  
    display: flex;
    color: white;
    padding: right;
    margin: 0;
}
/* Navigation text for home etc etc */

nav ul li a {
    font-family: 'Bebas Neue', sans-serif ;
    color: white;
}

/*The Last of us title home page */
#tlou { 
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 80px;
    position: fixed;
    }

    /* Intro Hero image */

    .hero {
        height: 100vh;
        display: flex;

    }



/* Header */

header { 
    background-color: #0f0f0f;
}

/* Main content */ 

main { 
     background-color: #0f0f0f;
}

/* Footer */

footer {
    background-color: #0f0f0f;
}
