/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Asterisk Wildcard selector to override my default syles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    background-color: aqua;

}

/* navigation system */

nav ul {  
    display: flex;

}

/*The Last of us title home page */
.tlou { 
    font-family: 'Bebas Neue', sans-serif;
}

/* Header */

header { 
    background-color: grey;
}

/* Main content */ 

main { 
     background-color: grey;
}

/* Footer */

footer {
    background-color: grey;
}