/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

/* Asterisk Wildcard selector to override my default syles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    background-color: #0f0f0f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* navigation system */

nav ul {  
    display: flex;
    color: white;
    padding: right;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    gap: 35px;
}
/* Navigation text for home etc etc */

nav ul li a {
    font-family: 'Bebas Neue', sans-serif ;
    color: white;
    font-size: 30px;
    
}

nav ul li a:hover{ 
 color: #43653e;
}

/*The Last of us title home page */
#tlou { 
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 170px;
    position: absolute;
    line-height: 0.8;
    left: 40px;
    top: 35px;
    }

    /* Intro Hero image */

    .hero {
        width: 100%;
        height: 100%;
        display: block;
    }


/* Text heading for h1 */

h1 {
    font-family:'Bebas Neue', sans-serif;
    color: white;
    font-size: 130px;
    margin-left: 20px;

}

p { font-size: 30px;
    font-family: 'Bebas Neue', sans-serif; }

h2 { font-size:55px;
      font-family: 'Bebas Neue', sans-serif; 
      color: white;
    }

/* Header */

header { 
    background-color: #0f0f0f;
}

/* Gallery content */

.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.gimg { 
    margin: 16px;
}

img {
    object-fit: cover;
    width: 700px;
    height: 700px;
}

.imgtvshow {
    background-color: #111910;
    display: flex ;
    justify-content: flex-end;
    gap: 95px;
   
}

.elliepedro {
   display: flex;
   justify-content: space-between;
}



/* Main content */ 

main { 
     background-color: #0f0f0f;
}

.info {

    background-color: #43653E;
    padding: 60px;
}

/* Tv show */
 .tvshow {
    background: #43653E;
    padding:60px;
 }

/* Button css from  getcssscan.com */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px ;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* Feedback*/

.feedback { 
 background-color: #43653E;
 padding: 60px;
}


/* Footer */

footer {
    background-color: #0f0f0f;
    color:white;
}
